body {
  margin: 0;
  padding: 0;
  display: inline-block;

}

.pages {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  width: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

/* PAGE 01 */

.wrapperOuter {
  display: inline-block;
}


.parallaxSection {
  min-height: 100vh;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100vw;
  position: relative;
  display: inline-block;
}

.parallaxBg {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
  height: 100vh;

}


.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

nav {
  padding-top: 50px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  display: flex;
}

.titles {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.logo {
  width: 150px;
  height: auto;
  margin: 0;
  display: inline-block;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav a {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  padding: 0px 30px;
  transition: .3s;

}

nav a:hover {
  color: white;
  font-weight: 600;
  text-decoration: underline;
}

/* PAGE 02 */

.aboutUs {
  display: inline-block;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sectionContainer {
  max-width: 700px;
  text-align: center;
  display: inline-block;
  margin-top: 100px;
}


.sectionHeader {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.sectionDiscription {
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 2rem;
  margin-top: 20px;
}

.border {
  margin-top: 10px;
  width: 200px;
}

/* PAGE 03 */

.gallary {
  display: inline-block;
}

.gallaryTitle {
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: black;
  letter-spacing: 8px;
}



.gallaryImages {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}

.container2 {
  display: flex;
  width: 100vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h1 {
  font-size: 35px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h1 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px) {
  .container2 {
    width: 100vw;
    transition: opacity 0.3s ease-in 0.4s;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}


/* PAGE 04 */
.backImage {
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-image: url(assets/cameraMan.png);
}

.imageOverlay {
  width: 100%;
  height: 700px;
  background-color: black;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



/* PAGE 04 - service discriptions */

.servicedis1 {
  display: inline-block;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 90px;
  padding: 0;

}

.servicedis2 {
  display: inline-block;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;

}

.serviceHeader1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
}

.serviceHeader2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
}

.dis1 {
  width: 600px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
}

.dis2 {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
}

/* PAGE 05 - TESTIMONIALS */

.container5 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  background-color: #fff;
}


.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;

}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.slide p {
  padding: 0 160px;
}